<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qin.provider.mapper.DeptMapper">

    <resultMap id="BaseResultMap" type="com.qin.api.entry.Dept">
        <id column="dept_no" jdbcType="INTEGER" property="deptNo"/>
        <result column="dept_name" jdbcType="VARCHAR" property="deptName"/>
        <result column="db_source" jdbcType="VARCHAR" property="dbSource"/>
    </resultMap>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        SELECT * FROM dept WHERE dept_no=#{dept_no}
    </select>

    <select id="findAll" resultMap="BaseResultMap">
        SELECT * FROM dept
    </select>

    <insert id="insertSelective" parameterType="com.qin.api.entry.Dept">
        insert into dept
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="deptNo != null">
                dept_no,
            </if>
            <if test="deptName != null">
                dept_name,
            </if>
            <if test="dbSource != null">
                db_source,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="deptNo != null">
                #{deptNo,jdbcType=INTEGER},
            </if>
            <if test="deptName != null">
                #{deptName,jdbcType=VARCHAR},
            </if>
            <if test="dbSource != null">
                database(),
            </if>
        </trim>
    </insert>

</mapper>